@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?5ys1s');
    src:  url('../fonts/icomoon.eot?5ys1s#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?5ys1s') format('truetype'),
      url('../fonts/icomoon.woff?5ys1s') format('woff'),
      url('../fonts/icomoon.svg?5ys1s#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-edit:before {
    content: "\e900";
  }
  .icon-messenger:before {
    content: "\e901";
    color: #00b2ff;
  }
  .icon-email:before {
    content: "\e902";
  }
  .icon-envelope-o:before {
    content: "\f003";
  }
  .icon-phone:before {
    content: "\f095";
  }
  .icon-user-o:before {
    content: "\f2c0";
  }
  .icon-whatsapp:before {
    content: "\ea93";
  }
  
  
$primaryBgColor: #d72720;
$footerBgColor: #e73332;
$submitColor: #003349;

@mixin title {
    font-size: 35px;
    text-align: center;
    font-weight: 700;
    color: #333333;
    margin-bottom: 29px;
}

*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1400px;
    margin: 0 auto;
}

body{
    outline: 1px solid red;
    margin: auto;
    padding: 0;
    font: 16px Helvetica,Arial,sans-serif;
    max-width: 1920px;
    min-width: 320px;
    color: #7a7a7a;
}


//header
.header__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.header__log {
    max-width: 300px;
    max-height: 63.59px;
}
.header__inner {
    display: flex;
    gap: 40px;
}
.header__left {
    display: flex;
    gap: 10px;
    align-items:baseline;
    position: relative;

    div {
        width: 48px;
        height: 48px;
        background-color: $submitColor;
        border-radius: 50%;
        padding: 11px;
        transition: all .3s;
        cursor: pointer;
        &:hover {
            background-color: $primaryBgColor;
        }
    }
    div:nth-child(1)::before, 
    div:nth-child(2)::before, 
    div:nth-child(3)::before, 
    div:nth-child(4)::before {
        content: "\f003";
        position: absolute;
        font-family: 'icomoon';
        font-size: 25px;
        color: #fff;
    }
    div:nth-child(3)::before{
        content: "\e900";

    }
    div:nth-child(2)::before{
        content: "\e901";
    }
    div:nth-child(1)::before{
        content: "\ea93";
    }
}
.header__right {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #6f6f6f;
    border-left: 3px solid $primaryBgColor;
    padding: 0 0 13px 11px;
}
.header__link {
    color: #000;
    font-weight: 700;
    font-size: 33px;
    letter-spacing: 1px;
    transition: all .3s;
    &:hover {
        color: $primaryBgColor;
    }
}
//clinic
.clinic {
    background: url(../img/slider-beg.jpg) 0 0/cover fixed;
}
.clinic__box {
    color: #fff;
    display: grid;
    grid-template-columns: 1.35fr 0.65fr;
    gap: 30px;
    padding: 67px 0px 52px;
}
.clinic__left {
    margin-top: 30px;
}
.clinic__title {
    font-size: 32px;
    font-weight: 700;
    margin: 21.44px 0;
}
.btnn {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    margin: 27px 0px 0px;
    padding: 13px 13px 13px 35px;
    max-width: 210px;
    width: 100%;
    border-radius: 77px;
    line-height: 39px;
    background-color: $primaryBgColor;
    transition: all .3s;
    position: relative;
    &:hover {
        color: #fff;
        background-color: $submitColor;
    }
    &::before {
        position: absolute;
        content: "\ea93";
        font-family: 'icomoon';
        right: 50px;
    }
}
.clinic__right {
    background-color: $primaryBgColor;
    padding: 20px 30px 5px;
    border-radius: 5px;
}
.clinic__form-title {
    font-weight: 600;
    font-size: 29px;
    padding: 0;
    margin: 1px 0 20px;
}
.form-control {
    height: 50px;
    border-radius: 10px;
    border: 1px solid #fff;
}
.form-control-one,
.form-control-two,
.form-control-three {
    position: relative;
    &::before {
        content: "\f2c0";
        font-family: 'icomoon';
        color: #a4a6a7;
        font-size: 28px;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    }
}
.form-control-two::before {
    content: "\f095";
}
.form-control-three::before {
    content: "\e902";
}

.forms__botton-wrapper {
    display: flex;
    align-items: center;
}
.forms__button {
    width: 185px;
    height: 50px;
    margin-top: 30px;
    border: 0;
    background-color: $submitColor;
    text-align: center;
    font-size: 18px;
    margin: 10px auto 15px;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 10px;
    color: #fff;
    transition: all .3s;
    &:hover {
        color: #fff;
        background-color: #011a24;
    }
}
//whatWeDo
.whatWeDo {
    padding: 70px 0;
}
.whatWeDo__title {
    @include title();
}
.whatWeDo__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.whatWeDo__img {
    max-width: 320px;
    max-height: 223px;
}
.whatWeDo__name {
    font-weight: 700;
    font-size: 21px;
    margin: 12px 0px 0px;
    padding: 0px 0px 0px 7px;
}
.whatWeDo__descr {
    font-size: 12pt;
    font-weight: 200;
    line-height: 1.9;
    margin: 16px 0px;
    padding: 0px 0px 0px 7px;
}
.btn-center {
    text-align: center;
}
.btnn--center {
    text-align: left;
}
//whoWeAre
.whoWeAre {
}
.whoWeAre__box {
}
.whoWeAre__left {
}
.whoWeAre__title {
}
.whoWeAre__descr {
}
.whoWeAre__right {
}
.whoWeAre__img {
}